If/else statement

In [ ]:
# conditions

age=0

if age > 0:
  print("Noooo")
else:
  print("Yes")

Yes

In [ ]:
age==0

True

In [ ]:
if age:
  print("Please vote")
else:
  print("You are not eligible")

You are not eligible

  >
    <
    ==
    >=
    <=
    !=

In [ ]:
aunth=False

if aunth:
    pass

print("Other stuff")

Other stuff

In [ ]:
a = 0
print(bool(a))

if a:
    print('Truthy')
else:
    print("Falthy")

False
Falthy

In [ ]:
a = 0
print(bool(a))

if a is not None:
    print('Truthy')
else:
    print("Falthy")

False
Truthy

In [ ]:
'' == None
'' is None

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-10-88496bb6bf83>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  '' is None

False

In [ ]:
0 == None

0 is None

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-12-ededa82368c1>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  0 is None

False

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
c = a # reference assignment

print(a == b)

print("ID a:", id(a))
print("ID b:", id(b))
print("ID c:", id(c))

True
ID a: 136866052990208
ID b: 136865714559296
ID c: 136866052990208

In [ ]:
print(a is b)

print(a is c)

False
True

In [ ]:
x = 5
y = 5

print("ID x:", id(x))
print("ID y:", id(y))

print(x is y)

ID x: 10750984
ID y: 10750984
True

In [ ]:
age=20
car='Malibu xl'

if age>18 and car in ['Malibu xl', 'Tracker']:
  print("You are eligible")
else:
  print("You are not eligible")

You are eligible

In [ ]:
age = 200

if age < 0:
    print("Incorrect number for age. Age must be positive.")
elif age < 18:
    print("You can not vote")
elif age < 150:
    print("You can vote")
else:
    print("Incorrect number for age. Humans can not live that long.")

Incorrect number for age. Humans can not live that long.

In [ ]:
age=20

if age:print('True');print('Age is not zero')

True
Age is not zero

In [ ]:
display(1)

1

**LOOPS**

In [ ]:
n=10

while n>0:
  print(n)
  n-=1

10
9
8
7
6
5
4
3
2
1

In [ ]:
while True:
    print("Still running")
    break

Still running

In [ ]:
count=1

while True:
  print("Count ",count)
  count+=1
  if count>10:
    break

Count  1
Count  2
Count  3
Count  4
Count  5
Count  6
Count  7
Count  8
Count  9
Count  10

In [ ]:
cnt = 1

while cnt < 10:
    cnt += 1
    if cnt in (3,6,9):
      continue
    print("Count is", cnt)

Count is 2
Count is 4
Count is 5
Count is 7
Count is 8
Count is 10

While/else

In [1]:
l = [1, 2, 3]
i = 0
check_number = 6

i_list = []
while i < len(l):
    i_list.append(i)
    if l[i] == check_number:
        print("Found")
        break
    i += 1
else:
    print("Number not found")

print(i_list)

Number not found
[0, 1, 2]

In [5]:
list1=[3,4,2,11,4]
other_list=[]

for i in list1:
  other_list.append(i**2)
  # print(other_list)
print(other_list)

[9, 16, 4, 121, 16]

In [7]:
users = {'user1': 'John', 'user2': 'Adam', 'user3': 'Josh'}

for i in users:
    print(i, users[i])

user1 John
user2 Adam
user3 Josh

In [8]:
users.keys()

users.values()

users.items()

dict_items([('user1', 'John'), ('user2', 'Adam'), ('user3', 'Josh')])

In [9]:
users = {'user1': 'John', 'user2': 'Adam', 'user3': 'Josh'}

for user in users.values():
    print(user)

John
Adam
Josh

In [10]:
users = {'user1': 'John', 'user2': 'Adam', 'user3': 'Josh'}

for user in users.keys():
    print(user)

user1
user2
user3

In [11]:
for key, value in users.items():
    print(key, value)

user1 John
user2 Adam
user3 Josh

In [12]:
users = [('user1', 'John'), ('user2', 'Adam'), ('user3', 'Josh')] # List of tuples

for user in users:
    print(user)

('user1', 'John')
('user2', 'Adam')
('user3', 'Josh')

In [13]:
users = [('user1', 'John'), ('user2', 'Adam'), ('user3', 'Josh')] # List of tuples

for key, user in users:
    print(key)

a, b = ('user1', 'John')
print(a)
print(b)

user1
user2
user3
user1
John

print
id
type
len
round
pow
min
max
divmod
sum
range

In [14]:
range(5)

range(0, 5)

In [15]:
for i in range(5, 10):
    print(i)

5
6
7
8
9

In [16]:
for i in range(50, 100, 10):
    print(i)

50
60
70
80
90

In [17]:
i = 1
ilar = []
while i < 2:
    ilar.append(i)
    i += 0.1
print(ilar)

[1, 1.1, 1.2000000000000002, 1.3000000000000003, 1.4000000000000004, 1.5000000000000004, 1.6000000000000005, 1.7000000000000006, 1.8000000000000007, 1.9000000000000008]

In [18]:
languages = ['Java', 'Python', 'JS']
versions = [14, 3, 6]


for i in range(len(languages)):
    print(languages[i], versions[i])

Java 14
Python 3
JS 6

In [19]:
languages = ['Java', 'Python', 'JS']
versions = [14, 3, 6]

for version, language in zip(versions, languages):
    print(language, version)

Java 14
Python 3
JS 6

In [20]:
a = zip(versions, language)
b = list(a)
b

[(14, 'J'), (3, 'S')]