In [2]:
import sqlite3
con=sqlite3.connect('roaster.db')
cursor=con.cursor()

cursor.execute('''CREATE TABLE IF NOT EXISTS Roster
                  (Name TEXT, Species TEXT, Age INTEGER)''')

roster_data = [
    ('Benjamin Sisko', 'Human', 40),
    ('Jadzia Dax', 'Trill', 300),
    ('Kira Nerys', 'Bajoran', 29)
]
cursor.executemany('INSERT INTO Roster VALUES (?, ?, ?)', roster_data)

In [3]:
cursor.execute('UPDATE Roster SET Name = "Ezri Dax" WHERE Name = "Jadzia Dax"')

# Query Bajoran characters
print("Bajoran characters:")
cursor.execute('SELECT Name, Age FROM Roster WHERE Species = "Bajoran"')
for row in cursor.fetchall():
    print(f"Name: {row[0]}, Age: {row[1]}")

Bajoran characters:
Name: Kira Nerys, Age: 29

In [4]:
cursor.execute('DELETE FROM Roster WHERE Age > 100')

# Bonus: Add Rank column and update data
cursor.execute('ALTER TABLE Roster ADD COLUMN Rank TEXT')
rank_updates = [
    ('Captain', 'Benjamin Sisko'),
    ('Lieutenant', 'Ezri Dax'),
    ('Major', 'Kira Nerys')
]
for rank, name in rank_updates:
    cursor.execute('UPDATE Roster SET Rank = ? WHERE Name = ?', (rank, name))

In [5]:
# Advanced query: Sort by Age descending
print("\nCharacters sorted by age (descending):")
cursor.execute('SELECT * FROM Roster ORDER BY Age DESC')
for row in cursor.fetchall():
    print(row)

con.commit()
con.close()

Characters sorted by age (descending):
('Benjamin Sisko', 'Human', 40, 'Captain')
('Kira Nerys', 'Bajoran', 29, 'Major')