In [6]:
import sqlite3

conn = sqlite3.connect('library.db')
cursor = conn.cursor()
cursor.execute('''CREATE TABLE IF NOT EXISTS Books
                  (Title TEXT, Author TEXT, Year_Published INTEGER, Genre TEXT)''')

books_data = [
    ('To Kill a Mockingbird', 'Harper Lee', 1960, 'Fiction'),
    ('1984', 'George Orwell', 1949, 'Dystopian'),
    ('The Great Gatsby', 'F. Scott Fitzgerald', 1925, 'Classic')
]
cursor.executemany('INSERT INTO Books VALUES (?, ?, ?, ?)', books_data)

# Update 1984 publication year
cursor.execute('UPDATE Books SET Year_Published = 1950 WHERE Title = "1984"')

# Query Dystopian books
print("Dystopian books:")
cursor.execute('SELECT Title, Author FROM Books WHERE Genre = "Dystopian"')
for row in cursor.fetchall():
    print(f"Title: {row[0]}, Author: {row[1]}")

# Delete books published before 1950
cursor.execute('DELETE FROM Books WHERE Year_Published < 1950')

# Bonus: Add Rating column and update data
cursor.execute('ALTER TABLE Books ADD COLUMN Rating REAL')
rating_updates = [
    (4.8, 'To Kill a Mockingbird'),
    (4.7, '1984'),
    (4.5, 'The Great Gatsby')
]
for rating, title in rating_updates:
    cursor.execute('UPDATE Books SET Rating = ? WHERE Title = ?', (rating, title))

# Advanced query: Sort by publication year ascending
print("\nBooks sorted by publication year (ascending):")
cursor.execute('SELECT * FROM Books ORDER BY Year_Published ASC')
for row in cursor.fetchall():
    print(row)

conn.commit()
conn.close()

Dystopian books:
Title: 1984, Author: George Orwell

Books sorted by publication year (ascending):
('1984', 'George Orwell', 1950, 'Dystopian', 4.7)
('To Kill a Mockingbird', 'Harper Lee', 1960, 'Fiction', 4.8)