Set1

In [2]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union = set1 | set2
print(union)

{1, 2, 3, 4, 5}

Set2

In [3]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersect = set1 & set2
print(intersect)

{3}

Set3

In [4]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersect = set1 - set2
print(intersect)

{1, 2}

Set4

In [5]:
set1 = {1, 2}
set2 = {1, 2, 3}
is_subset = set1 <= set2
print(is_subset)
#

True

Set5

In [6]:
set1={2,3,2,4,5,6}
print(3 in set1)
#

True

Set6

In [7]:
set1={2,3,2,4,5,6}
print(len(set1))

5

Set7

In [8]:
my_list = [1, 2, 2, 3, 4]
unique_set = set(my_list)
print(unique_set)

{1, 2, 3, 4}

Set8

In [9]:
my_set = {1, 2, 3}
my_set.discard(2)
print(my_set)

{1, 3}

Set9

In [10]:
my_set = {1, 2, 3}
my_set.clear()
print(my_set)

set()

Set10

In [11]:
my_set = set()
is_empty = len(my_set) == 0
print(is_empty)

True

Set11

In [12]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
sym_diff = set1 ^ set2
print(sym_diff)

{1, 2, 4, 5}

Set12

In [13]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

Set13

In [14]:
my_set = {1, 2, 3}
popped = my_set.pop() if my_set else None
print(popped)

1

Set14

In [15]:
my_set = {5, 2, 9, 1}
max_val = max(my_set) if my_set else None
print(max_val)

9

Set15

In [17]:
my_set = {5, 2, 9, 1}
min_val = min(my_set) if my_set else None
print(min_val)

1

Set16

In [18]:
my_set = {1, 2, 3, 4, 5, 6}
evens = {x for x in my_set if x % 2 == 0}
print(evens)

{2, 4, 6}

Set17

In [19]:
my_set = {1, 2, 3, 4, 5, 6}
odds = {x for x in my_set if x % 2 == 1}
print(odds)

{1, 3, 5}

Set18

In [20]:
start, end = 1, 5
range_set = set(range(start, end + 1))
print(range_set)

{1, 2, 3, 4, 5}

Set19

In [21]:
list1 = [1, 2, 2, 3]
list2 = [3, 4, 5]
merged_set = set(list1 + list2)
print(merged_set)

{1, 2, 3, 4, 5}

Set20

In [22]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
is_disjoint = set1.isdisjoint(set2)
print(is_disjoint)
#

True

Set21

In [23]:
my_list = [1, 2, 2, 3, 4, 4]
unique_list = list(set(my_list))
print(unique_list)

[1, 2, 3, 4]

Set22

In [24]:
my_list = [1, 2, 2, 3, 4, 4]
unique_list = len(set(my_list))
print(unique_list)

4

Set23

In [25]:
import random
size = 5
start, end = 1, 10
random_set = {random.randint(start, end) for _ in range(size)}
print(random_set)

{10, 3, 5, 7}