Tuple1

In [32]:
tuple1=(4,3,2,4,1,2,2,2,5)
elem=2
print(tuple1.count(elem))

4

Tuple2

In [33]:
tuple1=(4,3,2,4,1,2,2,2,5)
print(max(tuple1))

5

Tuple3

In [34]:
tuple1=(4,3,2,4,1,2,2,2,5)
print(min(tuple1))

1

Tuple4

In [36]:
tuple1=(4,3,2,4,1,2,2,2,5)
print(4 in (tuple1))

True

Tuple5

In [38]:
tuple1=(4,3,2,4,1,2,2,2,5)
first=tuple1[0] if tuple1 else None
print(first)

4

Tuple6

In [39]:
tuple1=(4,3,2,4,1,2,2,2,5)
last=tuple1[-1] if tuple1 else None
print(last)

5

Tuple7

In [43]:
tuple1=(4,3,2,4,1,2,2,2,5)
print(len(tuple1))

9

Tuple8

In [46]:
tuple1=(4,3,2,4,1,2,2,2,5)
tuple2=tuple1[:3]
print(tuple2)
#

(4, 3, 2)

Tuple9

In [47]:
tuple1=(4,3,2,4,1,2,2,2,5)
tuple2=(3,3,3,3,33,3)
print(tuple2+tuple1)

(3, 3, 3, 3, 33, 3, 4, 3, 2, 4, 1, 2, 2, 2, 5)

Tuple10

In [48]:
tuple1=(4,3,2,4,1,2,2,2,5)
print(tuple1==0)

False

Tuple11

In [50]:
tuple1=(4,3,2,4,1,2,2,2,5)
element = 2
indices = [i for i, x in enumerate(tuple1) if x == element]
print(indices)

[2, 5, 6, 7]

Tuple12

In [54]:
tuple1=(4,3,2,4,1,2,2,2,5)
unique_sorted = sorted(set(tuple1), reverse=True)
second_largest = unique_sorted[1] if len(unique_sorted) > 1 else None

print(second_largest)
#

4

Tuple13

In [56]:
tuple1=(4,3,2,4,1,2,2,2,5)
unique_sorted = sorted(set(tuple1))
second_smallest = unique_sorted[1] if len(unique_sorted) > 1 else None

print(second_smallest)
#

2

Tuple14

In [58]:
tuple1=(4,3,2,4,1,2,2,2,5)
element = 42
single_element_tuple = (element,)
print(single_element_tuple)

(42,)

Tuple15

In [59]:
list1=[1,2,4,3,2,1,3]
print(tuple(list1))

(1, 2, 4, 3, 2, 1, 3)

Tuple16

In [60]:
tuple1=(4,3,2,4,1,2,2,2,5)
print(sorted(tuple1))

[1, 2, 2, 2, 2, 3, 4, 4, 5]

Tuple17

In [61]:
tuple1=(4,3,2,4,1,2,2,2,5)
sub_t=tuple1[2:5]
print(max(sub_t))
#

4

Tuple18

In [62]:
tuple1=(4,3,2,4,1,2,2,2,5)
sub_t=tuple1[2:5]
print(min(sub_t))

1

Tuple19

In [64]:
my_tuple=(4,3,2,4,1,2,2,2,5)
element = 3
new_tuple = tuple(x for i, x in enumerate(my_tuple) if i != my_tuple.index(element)) if element in my_tuple else my_tuple
print(new_tuple)

(4, 2, 4, 1, 2, 2, 2, 5)

Tuple20

In [65]:
my_tuple = (1, 2, 3, 4, 5, 6)
n = 2  # Elements per subtuple
nested = tuple(my_tuple[i:i + n] for i in range(0, len(my_tuple), n))
print(nested)
#

((1, 2), (3, 4), (5, 6))

Tuple21

In [67]:
my_tuple = (1, 2, 3, 4, 5, 6)
n = 2
repeated = tuple(item for item in my_tuple for _ in range(n))
print(repeated)
#

(1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6)

Tuple22

In [68]:
start, end = 1, 5
range_tuple = tuple(range(start, end + 1))
print(range_tuple)

(1, 2, 3, 4, 5)

Tuple23

In [69]:
my_tuple = (1, 2, 3, 4)
reversed_tuple = my_tuple[::-1]
print(reversed_tuple)

(4, 3, 2, 1)

Tuple24

In [70]:
my_tuple = (1, 2, 3, 2, 1)
is_palindrome = my_tuple == my_tuple[::-1]
print(is_palindrome)

True

Tuple25

In [71]:
my_tuple = (1, 2, 2, 3, 4, 4, 5)
seen = set()
unique_ordered = tuple(x for x in my_tuple if not (x in seen or seen.add(x)))
print(unique_ordered)
#

(1, 2, 3, 4, 5)