```
Part 1: Reading Files

In [3]:
import sqlite3
import pandas as pd

conn=sqlite3.connect('/content/chinook.db')
customers=pd.read_sql('select * from customers',conn)
customers.head(10)

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
3,4,Bjørn,Hansen,None,Ullevålsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4
5,6,Helena,Holý,None,Rilská 3174/6,Prague,None,Czech Republic,14300,+420 2 4177 0449,None,hholy@gmail.com,5
6,7,Astrid,Gruber,None,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,None,Austria,1010,+43 01 5134505,None,astrid.gruber@apple.at,5
7,8,Daan,Peeters,None,Grétrystraat 63,Brussels,None,Belgium,1000,+32 02 219 03 03,None,daan_peeters@apple.be,4
8,9,Kara,Nielsen,None,Sønder Boulevard 51,Copenhagen,None,Denmark,1720,+453 3331 9991,None,kara.nielsen@jubii.dk,4
9,10,Eduardo,Martins,Woodstock Discos,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br,4

In [12]:
iris_df=pd.read_json('/content/iris.json')
print(iris_df.shape)
iris_df.columns.tolist()
iris_df.head()

(150, 5)

   sepalLength  sepalWidth  petalLength  petalWidth species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

In [10]:
titanic_xls=pd.read_excel('/content/titanic.xlsx')
titanic_xls.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:

movie_df = pd.read_csv('/content/movie.csv')


print(movie_df.sample(10))

      color        director_name  num_critic_for_reviews  duration  \
1600  Color          Chris Weitz                    61.0      87.0
2848  Color  Jean-Jacques Annaud                    62.0     100.0
3876  Color         Sam Levinson                    46.0     119.0
979   Color        Steven Seagal                    47.0     101.0
4748  Color          Al Franklin                     NaN      96.0
2514  Color   Jonathan Liebesman                   196.0      83.0
627   Color         Joseph Ruben                    40.0     105.0
1340  Color         John Pasquin                    55.0      98.0
1503  Color   George Tillman Jr.                   117.0     128.0
3478  Color   Jackie Earle Haley                    46.0      94.0

      director_facebook_likes  actor_3_facebook_likes          actor_2_name  \
1600                    129.0                   560.0             Mark Addy
2848                    218.0                    91.0        Everett McGill
3876                      8.0                  2000.0           Ezra Miller
979                       0.0                   158.0             Joan Chen
4748                      0.0                   270.0  Steffinnie Phrommany
2514                    473.0                   597.0      Jordana Brewster
627                      29.0                    97.0          Robert Blake
1340                     11.0                   466.0            Ken Marino
1503                     88.0                   954.0       Melissa Benoist
3478                      0.0                   493.0           Edi Gathegi

      actor_1_facebook_likes       gross                              genres  \
1600                   979.0  64172251.0                      Comedy|Fantasy
2848                   581.0         NaN             Adventure|Drama|History
3876                  3000.0         NaN                        Comedy|Drama
979                    854.0  38590500.0           Action|Adventure|Thriller
4748                   471.0         NaN                              Horror
2514                 20000.0  39511038.0                              Horror
627                    584.0  35324232.0  Action|Comedy|Crime|Drama|Thriller
1340                   854.0  22770864.0                        Comedy|Drama
1503                   989.0  37432299.0                       Drama|Romance
3478                 15000.0         NaN                Crime|Drama|Thriller

      ... num_user_for_reviews language  country  content_rating      budget  \
1600  ...                122.0  English      USA           PG-13  30000000.0
2848  ...                 96.0      NaN   Canada               R  12500000.0
3876  ...                 42.0  English      USA               R   4000000.0
979   ...                140.0  English      USA               R  50000000.0
4748  ...                  2.0  English      USA             NaN    300000.0
2514  ...                366.0  English      USA               R  16000000.0
627   ...                 62.0  English      USA               R  68000000.0
1340  ...                 85.0  English      USA              PG  38000000.0
1503  ...                116.0  English      USA           PG-13  34000000.0
3478  ...                 38.0  English      USA             NaN   7000000.0

      title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
1600      2001.0                  891.0        5.4          1.85
2848      1981.0                  201.0        7.4          2.35
3876      2011.0                 3000.0        6.0          2.35
979       1994.0                  643.0        4.4          2.35
4748      2015.0                  320.0        4.3         16.00
2514      2006.0                 4000.0        5.9          1.85
627       1995.0                  220.0        5.6          2.35
1340      2001.0                  543.0        5.5          1.85
1503      2015.0                  970.0        7.1          2.35
3478      2015.0                  725.0        5.8          2.35

     movie_facebook_likes
1600                  602
2848                    0
3876                  798
979                   812
4748                   85
2514                    0
627                   617
1340                  168
1503                23000
3478                    0

[10 rows x 28 columns]

Part 2: Exploring DataFrames

In [15]:
# Rename columns to lowercase
iris_df.columns = iris_df.columns.str.lower()

sepal_df = iris_df[iris['sepal_length', 'sepal_width']]
print(sepal_df.head())

NameError: name 'iris' is not defined

In [11]:

aged = titanic_xls[titanic_xls['Age'] > 30]
print(aged.head())

gender_counts = titanic_xls['Sex'].value_counts()
print(gender_counts)

    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
4             5         0       3
6             7         0       1
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                            Allen, Mr. William Henry    male  35.0      0
6                             McCarthy, Mr. Timothy J    male  54.0      0
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
4       0    373450   8.0500   NaN        S
6       0     17463  51.8625   E46        S
11      0    113783  26.5500  C103        S
Sex
male      577
female    314
Name: count, dtype: int64

In [16]:
durations = movie_df[movie_df['duration']>120]
sorted=durations.sort_values('duration',ascending=False)
print(durations.head())

   color      director_name  num_critic_for_reviews  duration  \
0  Color      James Cameron                   723.0     178.0
1  Color     Gore Verbinski                   302.0     169.0
2  Color         Sam Mendes                   602.0     148.0
3  Color  Christopher Nolan                   813.0     164.0
5  Color     Andrew Stanton                   462.0     132.0

   director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
0                      0.0                   855.0  Joel David Moore
1                    563.0                  1000.0     Orlando Bloom
2                      0.0                   161.0      Rory Kinnear
3                  22000.0                 23000.0    Christian Bale
5                    475.0                   530.0   Samantha Morton

   actor_1_facebook_likes        gross                           genres  ...  \
0                  1000.0  760505847.0  Action|Adventure|Fantasy|Sci-Fi  ...
1                 40000.0  309404152.0         Action|Adventure|Fantasy  ...
2                 11000.0  200074175.0        Action|Adventure|Thriller  ...
3                 27000.0  448130642.0                  Action|Thriller  ...
5                   640.0   73058679.0          Action|Adventure|Sci-Fi  ...

  num_user_for_reviews language  country  content_rating       budget  \
0               3054.0  English      USA           PG-13  237000000.0
1               1238.0  English      USA           PG-13  300000000.0
2                994.0  English       UK           PG-13  245000000.0
3               2701.0  English      USA           PG-13  250000000.0
5                738.0  English      USA           PG-13  263700000.0

   title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
0      2009.0                  936.0        7.9          1.78
1      2007.0                 5000.0        7.1          2.35
2      2015.0                  393.0        6.8          2.35
3      2012.0                23000.0        8.5          2.35
5      2012.0                  632.0        6.6          2.35

  movie_facebook_likes
0                33000
1                    0
2                85000
3               164000
5                24000

[5 rows x 28 columns]

Part 3: Challenges and Explorations

In [17]:
# Calculate statistics for numerical columns
iris_stats = iris_df.agg({
    'sepal_length': ['mean', 'median', 'std'],
    'sepal_width': ['mean', 'median', 'std'],
    'petal_length': ['mean', 'median', 'std'],
    'petal_width': ['mean', 'median', 'std']
})
print(iris_stats)

KeyError: "Column(s) ['petal_length', 'petal_width', 'sepal_length', 'sepal_width'] do not exist"

In [19]:
# Find the average age by passenger class
avg_age_by_class = titanic_xls.groupby('Pclass')['Age'].mean()
print("Average age by class:")
print(avg_age_by_class)

# Survival rate by gender
survival_by_gender = titanic_xls.groupby('Sex')['Survived'].mean()
print("\nSurvival rate by gender:")
print(survival_by_gender)

# Survival rate by class
survival_by_class = titanic_xls.groupby('Pclass')['Survived'].mean()
print("\nSurvival rate by class:")
print(survival_by_class)

Average age by class:
Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64

Survival rate by gender:
Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

Survival rate by class:
Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

In [20]:
# Identify the director with the highest total director_facebook_likes
director_likes = movie_df.groupby('director_name')['director_facebook_likes'].sum()
top_director = director_likes.idxmax()
top_likes = director_likes.max()
print(f"Director with highest total Facebook likes: {top_director} with {top_likes} likes")

# Find the 5 longest movies and their respective directors
longest_movies = movie_df.nlargest(5, 'duration')[['movie_title', 'duration', 'director_name']]
print("\n5 longest movies and their directors:")
print(longest_movies)

Director with highest total Facebook likes: Steven Spielberg with 364000.0 likes

5 longest movies and their directors:
                   movie_title  duration        director_name
1694                   Trapped     511.0                  NaN
2436                    Carlos     334.0                  NaN
1487       Blood In, Blood Out     330.0      Taylor Hackford
1134             Heaven's Gate     325.0       Michael Cimino
3254  The Legend of Suriyothai     300.0  Chatrichalerm Yukol