In [2]:
import sqlite3

In [3]:
connection = sqlite3.connect('database.db')

In [6]:
query="select data()"
cur=connection.cursor()
print(cur.execute(query).fetchall())

OperationalError: no such function: data

In [11]:
con=sqlite3.connect("memory:")
query = "SELECT datetime('now', 'localtime')"
results = cur.execute(query)
results.fetchone()
con.close()

In [ ]:
with sqlite3.connect("memory:") as con:
    cur = con.cursor()
    query = "SELECT datetime('now', 'localtime')"
    results = cur.execute(query)
    print(results.fetchone())

In [12]:
import sqlite3
create_table = """
    CREATE TABLE People(
    FirstName TEXT,
    LastName TEXT,
    Age INT
    );"""
insert_values = """
    INSERT INTO People VALUES(
    'Ron',
    'Obvious',
    42
    );"""
connection = sqlite3.connect("test_database.db")
cursor = connection.cursor()
cursor.execute(create_table)
cursor.execute(insert_values)
connection.commit()
connection.close()

In [13]:
connection = sqlite3.connect("test_database.db")
cursor = connection.cursor()
query = "SELECT * FROM People;"
results = cursor.execute(query)
results.fetchone()

('Ron', 'Obvious', 42)

In [14]:
cursor.execute("DROP TABLE People;")
connection.commit()
connection.close()

In [15]:
import sqlite3

create_table = """
    CREATE TABLE People(
    FirstName TEXT,
    LastName TEXT,
    Age INT
    );"""

insert_values = """
    INSERT INTO People VALUES(
    'Ron',
    'Obvious',
    42
    );"""

with sqlite3.connect("test_database.db") as connection:
    cursor = connection.cursor()
    cursor.execute(create_table)
    cursor.execute(insert_values)

Executing Multiple SQL Statements

In [16]:
import sqlite3

sql = """
DROP TABLE IF EXISTS People;
CREATE TABLE People(
    FirstName TEXT,
    LastName TEXT,
    Age INT
    );
INSERT INTO People VALUES(
    'Ron',
    'Obvious',
    '42'
    );"""
with sqlite3.connect("test_database.db") as connection:
    cursor = connection.cursor()
    cursor.executescript(sql)

In [17]:
people_values = (
("Ron", "Obvious", 42),
("Luigi", "Vercotti", 43),
("Arthur", "Belling", 28)
)

In [18]:
cursor.executemany("INSERT INTO People VALUES(?, ?, ?)", people_values)
connection.commit()

In [19]:
import sqlite3
# Get person data from user
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
age = int(input("Enter your age: "))
# Execute insert statement for supplied person data
query = (
    "INSERT INTO People Values"
    f"('{first_name}', '{last_name}', {age});"
)
with sqlite3.connect("test_database.db") as connection:
    cursor = connection.cursor()
    cursor.execute(query)

Enter your first name: sd
Enter your last name: ds
Enter your age: 34

In [21]:
import sqlite3
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
age = int(input("Enter your age: "))
data = (first_name, last_name, age)
with sqlite3.connect("test_database.db") as connection:
    cursor = connection.cursor()
    cursor.execute("INSERT INTO People VALUES(?, ?, ?);", data)

Enter your first name: df
Enter your last name: s
Enter your age: 3

Libraries for Working With Other SQL Databases
If you have a particular type of SQL database that you’d like to access through Python, most of the basic syntax is likely to be identical to what you just learned for SQLite. However, you’ll need to install an additional package to interact with your database since SQLite is the only built-in option.

Many SQL variants and corresponding Python packages are available. Here are a few of the most commonly used and reliable open source alternatives to SQLite:

pyodbc connects to ODBC (Open Database Connectivity) databases, such as Microsoft SQL Server.
psycopg2 connects to PostgreSQL databases.
PyMySQL connects to MySQL database